@inherits LayoutComponentBase
@using Medoz.ThemeProvider

<ThemeProvider Theme="@theme">
    <PageTitle>Medoz.ThemeProvider.Test</PageTitle>

    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</ThemeProvider>

@code {
    Theme theme { get; set; } = new Theme(){ Primary = Colors.Blue.Lighten1, Background = Colors.Solid.White};
}