@inherits LayoutComponentBase
@using Medoz.ThemeProvider

<ThemeProvider Theme="@theme">
    <PageTitle>Medoz.ThemeProvider.Test</PageTitle>

    <div class="page">
        <div style="background-color: var(--primary-variant); color: var(--on-primary); height: 100vh;">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4" style="background-color: var(--primary); color: var(--on-primary);">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</ThemeProvider>

@code {
    Theme theme { get; set; } = new Theme()
    {
        Primary = Colors.Orange.Darken5,
        PrimaryVariant = Colors.Orange.Darken2,
        OnPrimary = Colors.Solid.White,
        Background = Colors.Solid.White,
        OnBackground = Colors.Solid.Black };
}